  *{
	margin: 0;
	padding:2px;
  }
  body{
	background-color:#ccc;

       }
 .img{
	background-position: relative;
	height:200px;
	width: 100%;
	background-image: url("../images/space.jpeg.png");
	background-size: cover;
   border-radius:15px;}

	h1{
		font-size:50px;
		font-family: sans-serif;
		text-align: center;
		color: #e8bf00;
		margin-bottom: 10px;
		border-bottom:solid green 10px;
		background-color:linear-gradient(rgb("535353,635256"));
	}
	/*---rapper start---*/

	/*---css variables start---*/

	:root{

		--primery:#ff4353;
		--dark:#ff005f;
		--light:#044909;
		--box-shadow:0 1px 5px rgba(104,104,104,0.8);
	}
	/*---css variables end---*/
	html{
		box-shadow: border-box;
		font-family: sans-serif;
		color: var(--dark);
	}

	body{
		background-color: #ccc;
		margin: 30px 50px;
	}
	.btn{
		background-color: var(--dark);
		color: var(--light);
		padding: 0.6rem 1.3rem;
		text-decoration: none;
		border:0;
	}
	img{

		max-width: 100%;
		display: grid;
		grid-gap: 20px;
	}

	.main-nav ul{

		background-color:#4355fe;
		display:grid;
		grid-gap: 27px; 
		border-radius: 20px;
		list-style: none;
		grid-template-columns: repeat(5,1fr);
		 
	}

		.main-nav a{
			position: relative;
			text-align: center;
			display: block;
			color: var(--dark);
			text-shadow: rgb(43,87,42);
			font-size: 1rem;
			text-transform:uppercase;
			 text-decoration: none;
			 color:#00f6ff ; 
			 
			 

			 
			 
		}

		.main-nav a:hover{
			background-color:#00f6ff ;
			text-decoration: none;
			color: red;
		}
		/*.top-container{
			display: grid;
			grid-template-columns: 2fr 1fr ;
			grid-template-rows:1fr;
			grid-gap: 5px;
			text-align: center;
			align-items: center;
		}
          .top-container div p{
          	font-size: 50px;
            color: red;
          	
          }


		.showcase{
			background-size: auto;
			background-color:#ccc;
			margin-bottom: 10px;
			align-content: center;
			justify-content: space-between;
			background-image: url("../images/space.jpeg.png");
			grid-row: 1/3;
			color:#fff;
			padding:0 1px;


			
		}
		 
	    .top-box-a{
	    	text-align: center;
	    background-size: auto;
			background-color:#ccc;
			margin-bottom: 10px;


	    }

	    .top-box-b{
	    	background-size: auto;
			background-color:#ccc;
			margin-bottom: 10px;
			text-align: center;
			grid-column:2/3; 

	    }

	    .boxes,.box{
	    	display: grid;
	    	grid-gap: 10px;
	    	grid-column:1fr 1fr; 
	    	background-size: auto;
			background-color:#ccc;
			margin-bottom: 10px;
			text-align: center;

	    }*/

        .top-container{

        	display: grid;
        	grid-gap: 10px;
        	grid-template-areas: 
        	"showcase showcase top-box-a"
        	"showcase showcase top-box-b"
        }

        /* showcase*/
       .showcase{
        	grid-area:showcase;
        	min-height: 400px;
        	background: url("../images/space.jpeg.png");
        	background-size: cover;
        	background-position: center;
        	padding: 3rem;
        	display: flex;
        	flex-direction: column;
        	align-items: flex-start;
        	justify-content: center;
        	color: #fff;
        	box-shadow: var("--shadow");
        	font-size: 4rem;



        }
         .showcase, h1{
         	 
         	font-size:4rem;
         	margin-bottom:0px; 
         	color:#fff;
         	 
         	 
         }

          .showcase,p{
          	font-size: 1.3rem
          }
        .top-box-a{
        	grid-area: top-box-a;
        	background-color: #ccc;

        }
        .top-box-b{
        	grid-area: top-box-b;
        	background-color: #ccc;
        	 
        	 
        }

        .top-box{
        	
        	align-items: center;
        	text-align: center; 
        	margin-top:0px;

        }

         .top-container div p{
          	font-size:3rem;
            color: red;}

	     .top-container header h1 {
	     	color:#fff;
	     	text-align: center;


	     }

	     .boxes{
	     	display: grid;
	     	grid-gap: 20px;
	     	grid-template-columns:1fr 1fr 1fr 1fr;
	     	align-items:stretch;
	     	text-align: center;
	     	justify-content: space-between;
	     	padding-top: 2rem;}

	     	.info{
	     		width: 100%;
	     		height: 100%;
	     		background-image: url("images/you.jpeg.png");
	     		background-color: #ccc;
	     		box-shadow: red;
	     		display: grid;
	     		grid-gap: 20px;
	     		grid-template-columns: 1fr 1fr;
	     		padding: 3rem;
	     	}
	      
	      

	      
	     .box{
	     	background-color: #ccc;
	     }
	     .portfolio{
	     	display: grid;
	     	grid-gap: 20px;
	     	grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); ;

	     }

	     .portfolio img{
	     	width: 100%;
	     	box-shadow: var(--shadow);
	     }




	    .footer{
	    	text-align: center;
	    	color: #c0f;
	    }




}



	/*---rapper end---*/
		}
	
  @media(max-width: 700px){
  	.top-container{
  		grid-template-areas: 
  		"showcase showcase"
  		"top-box-a top-box-b"
  	}

  	.showcase h1{font-size: 2.5rem;}

  	.main-nav ul{
  		grid-template-columns: 1fr;
  	}
  }





