* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
@media (max-width: 321px) {
  .wrapper {
    max-width: 320px;
  }
}
