body{
	background-color: #ddd;
}

.hero{
	width: 100%;
	height: 100vh;
	position: relative;
	background:url(../Picture/ocean.jpg);
	background-size:cover;
	position: center;
	overflow: hidden;
}

.ocean{
	width: 100%;
	height: 200px;
	bottom: 0;
	left: 0;
	position: absolute;
	 
}

.water{
	width: 100%;
	height: 100%;
	position: absolute;
	animation: water 10s linear infinite;

	
}
@keyframes water{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(500px);
	}
}

.boat{

	/*width: 10px;
	height: 10px;*/
	position:absolute;
	bottom: 90px;
	left: 80%;
	transform: translateX(-80%);
}

.boat img{
    
    width: 350px;
    height: 150px;
    -webkit-box-reflect:below -55px linear-gradient(rgba(225,255,255,0.2),rgba(225,255,255,0.6));
    animation: boat 2s linear infinite;

     
 }
@keyframes boat{
	0%{
		transform: rotate(0deg) translateY(0);
	}
	25%{
		transform: rotate(-2deg) translateY(-3px);	
	}
	50%{
		transform: rotate(0deg) translateY(-5px);
	}
	75%{
		transform: rotate(2deg) translateY(-3px);
	}
	100%{
		transform: rotate(0deg) translateY(0);
	}
}

.cloud{
	height:70%;
	width: 100%;
	position: absolute;
	background-position: center;
	background-size: cover;
	right: 0;
	animation: cloud 60s linear infinite;
}

@keyframes  cloud{
	0%{
		transform: translateX(0);
	}
  100%{
		transform: translateX(500px);
	}

}