 
.mid{
	 margin:50px 0px;
     text-align:center;
     text-transform: uppercase;
}


 .container{
 	 display: flex;
 	 
 	 justify-content: center;
 	 align-items: center;
 	 background-color: #999;

 }
 .row{
 	 display: flex;
 	position: relative;
 	background-color: red;
 	
 }


  .extra-div {
  position: relative;
  margin: 10px;	 
  background-color:#f0f;
  border-radius:4px;
  border:medium none;
  padding:50px;
  
  
  }