* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
a {
  color: #262626;
  text-decoration: none;
}

.menu-btn {
  position: absolute;
  font-size: 30px;
  width: 5%;
  cursor: pointer;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}
.container {
  width: 95%;
  max-width: 1100px;
  background-color: #ddd;
  margin: auto;
}
/* nav */

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0px;
  font-size: 14px;
  justify-content: space-between;
}
.main-nav .logo {
  width: 90px;
  border-radius: 20px;
}
.main-nav ul {
  list-style: none;
  display: flex;
}
.main-nav ul li {
  padding: 0px 10px;
}
.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}
.main-nav ul.main-menu {
  margin-left: 20px;
  flex: 1;
}
.fa-search {
  cursor: pointer;
}
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #262626;
  color: #fff;
  font-size: 15px;
}
.btn:hover {
  opacity: 0.8;
}
.showcase {
  width: 100%;
  height: 450px;
  background: url(../Picture/ocean.jpg) no-repeat center center/cover;
  display: flex;
  background-color: #ece;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
  opacity: ;
}

.showcase h2,
.showcase p {
  margin-bottom: 20px;
}
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}
.home-cards div {
  background-color: #fff;
}
.home-cards img {
  width: 100%;
  margin-bottom: 20px;
}
.home-cards h3 {
  margin-bottom: 5px;
}
.home-cards p {
  padding-left: 20px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0267b8;
  margin-bottom: 20px;
}
.xbox {
  color: #f00;
  height: 350px;
  width: 100%;
  background: url(../Picture/ocean.jpg) no-repeat center center/cover;
}
.xbox .content {
  width: 40%;
  padding: 50px 0 20px;
  margin-left: 60%;
}
.xbox p {
  padding: 10px 0 20px;
}

.links {
  background-color: #ddd;
  font-size: 13px;
  padding: 35px 0px;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.links-inner ul li {
  list-style: none;
  line-height: 2.5;
}

.footer {
  background-color: #f2f2f2;
  color: #626262;
  font-size: 12px;
  padding: 30px 0;
}
.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-inner .emoji {
  margin-left: 20px;
  font-size: 50px;
  color: #262626;
}

.footer-main ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-main li {
  margin-right: 30px;
  margin-bottom: 20px;
}

/* .ddmenu{

     margin-bottom: 50px;
     width: 100px;
     height: 200px;
     background-color: #26927f;
     padding: 30px;
}

.show{
     background-color: #f22;
     display: none;
}
 
 

ul{
     list-style: none;
}
.di{
     position:absolute;
     margin-left: 30%;
     margin-top: 10%;
}
.ddmenu:before{
     content: " ";
     position:absolute;
     top:-40px;
     left: 50%;
     transform: translateX(-50%);
     border: 20px solid;
     z-index: 1;
     border-color:transparent transparent  #26927f transparent;
}
 */
ul {
  list-style: none;
}

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.6;
  }
  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    margin-left: 1px;
    top: 0;
    left: 0;
    line-height: 3.1;
    height: 100%;
    background-color: #ddd;
    border-right: #ccc;
    width: 30%;
    padding-left: 30px;
    transform: translateX(-500px);
    transition: transform 0.6s ease-in-out;
  }
  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }
  .main-nav ul.right-menu {
    padding-right: 80px;
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .links .links-inner {
    grid-template-columns: repeat(3, 1fr);
  }
  .xbox .content {
    width: 90%;
    margin-bottom: 5px;
    margin-left: 10%;
    padding-top: 30%;
  }
}

@media (max-width: 500px) {
  .home-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .xbox .content {
    width: 90%;
    margin-bottom: 100px;
    margin-left: 10%;
  }
}
