

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     background-color: #e0e02b;
     text-align: center;
     text-transform: uppercase;
}

.imge{
     height: 200px;
     width: 200px;
     
}

.imge img{
     height: 100%;
     background-size: cover;
     background-position:center;
     animation: pic  .4s linear forwards;
    
}
.imgee{
     height: 200px;
     width: 200px;
     
}
.imgee .pc{
     height: 100%;
     background-size: cover;
     background-position:center;
     animation: pic  .4s linear forwards;
    
}

/* @keyframes pic{
     0%{
          opacity: 0;
          transform: scale(1.1);
          
     }
     100%{
          opacity: 1; transform: scale(1.0);
          
     }
} */