 .main{
 	height: 100vh;
 	width: 100%;
 	position: relative;
 	overflow: hidden;
 	background:linear-gradient(to right, #9c27b0,#8ecdff);
 	/*clip-path:polygon(0% 50%, 100% 0%,100% 100%,0% 50%,0 0);*/
 }



 .menu{
 	display: flex;
 	justify-content:space-between;
 	text-align: right;
 }

  .logo{
 	width: 80px;
 	height: 80px;
 	border-radius: 100px;
 	position: relative;
 	border: 2px solid #000;
    margin: 20% 10%;

 }

 .nav{
 	list-style: none;
 	color: red;
 	padding: 2% 6%;
 	flex: 1;

 	


 }

 

 .list li{
 	
 	list-style: none;
 	display: inline;
 	padding-right:20px;
 	font-size: 22px;
 
 	 
 }


 /*.list li:hover{
 	background-color: #fff;
 	list-style: none;
 	display: inline;
 	padding-right:20px;
 	font-size: 22px;
 	color: #000;

 	 
 	 
 }*/

 .list a{
 	color: #fff;
 	text-decoration: none;
 	cursor: pointer;
 	/*text-transform: uppercase;*/
 	font-style:;

 }

 .list a:hover{
 	width: 100%;
 	color: #000;
 	text-decoration: none;
 	cursor: pointer;
 	background-color: #fff;
 	/*text-transform: uppercase;*/
 	 
 }

 .nav{
 	text-align: right;
 }





 

 @media(max-width: 700px){


  .nav ul li{
  	display: block;
  }
  .nav {

  	position: absolute;
  	background-color: #f44336;
  	height: 100vh;
  	width: 250px;
  	right:-200px;
  	top:0;
  	text-align: left;
  	padding-top: 20px;
  	z-index: 1;

  }
.nav ul{
	position:;
	width: 100%;
	margin-left:-70px;
}
.nav ul li{
	
     
   padding-top: 30px;
  /* background-color:  green;*/
   width: 100%;
}

.nav a{
	text-align: center;

	color: yellow;
}

.fa{
	color: #000;
}


}
